<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Lecturer</title>
   <link href = "{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body p-4 p-md-5">
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class ='alert {%if category == "error"%} alert-danger{%else%}alert-success{%endif%}'>   
                    {{message}}
                </div>
            {% endfor %}
            <h2 class="mb-4 text-center">Create Lecturer</h2>
            <form method="POST">
              <div class="row g-3">
                <div class="col-12">
                  <label for="fullname" class="form-label">Full Name</label>
                  <input type="text" class="form-control" name="full_name" placeholder="Enter full name" />
                </div>
                <div class="col-12">
                  <label for="staffId" class="form-label">Staff ID</label>
                  <input type="text" class="form-control" name="staff_id" placeholder="Enter staff ID" />
                </div>
              </div>
              <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ url_for('admin.dashboard') }}" class="btn btn-outline-secondary">Back</a>
                <button type="submit" class="btn btn-primary">Create Lecturer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src = "{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
